<div class="post__wrapper_helper el__transition post__wrapper_helper--notloaded">
   <p><img src="<%= article.imgSrc %>"></p>

    <div class="post__preview el__transition">    
        <header class="post__header">
            <h2 class="post__title">
                <a class="post__link post__title_link"><span><%= article.title %></span</a>
            </h2>
        </header>

        <p class="post__excerpt"><a class="post__link post__readmore"><%= article.txtPreview %></a></p>
    </div>
    <footer class="post__meta">
        <% list(article.tags, function(tag){ %>
            <li class="post__tag"><a class="post__link post__tag_link"><%= tag %></a> </li>
        <% }) %>
    </footer>
</div>